

.red{
	color:red;
}
.blue{
	color:blue;
}
.AliceBlue {
	color:#F0F8FF;
}
.AntiqueWhite{
	color:#FAEBD7;
}
.Aqua{
	color:#00FFFF;
} 	
.Aquamarine{
	color:#7FFFD4;
}
.BlueViolet {
	color:#8A2BE2;
}
.Black{
	color:#000000;
}
.Brown {
	color:#A52A2A;
}
.BurlyWood{
	color:#DEB887;
}
.CadetBlue{
	color:#5F9EA0;
}
.Chartreuse{
	color:#7FFF00;
}
.Chocolate{
	color:#D2691E;
}

